@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&family=Poppins:wght@500;600;700&family=Work+Sans:wght@300;500;700;800;900&display=swap');
html {
    margin: 0;
    overscroll-behavior: none;
    overflow: auto;
    overscroll-behavior-y: contain;
}
body{
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-size: 40px;
}
p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
}
/* nav style start */
.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    margin: auto;
}
.nav-image{
    display: flex;
    gap: 16px;
    align-items: center;
}
.nav-image img{
    width: 48px;
    height: 56px;
}
.nav-image h1{
    font-size: 36px;
}
.nav-list{
    display: flex;
    gap: 44px;
    list-style: none;
}
.nav-list a{
    text-decoration: none;
}
/* banner style start  */

.container-banner{
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) , url('../Images/Group13.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    max-width: 1170px;
    margin: auto;
    height: 500px;
    margin-top: -50px;
    color: #FFF;
    align-items: center;
    text-align: center;
}
.banner-title h1{
    font-size: 64px;
    padding-top: 100px;
}
.banner-title p{
    font-size: 16px;
}
.banner-label{
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 55%;
    height: 70px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    align-items: center;
}
.search-input {
    /* width: 100%; */
    border: 1px solid rgb(242, 237, 229);
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 48px;
}
  
.banner-btn{
    background: #FF5400;
    border: 1px solid #FF5400;
    color:#FFF;;
    padding: 10px 20px;
    border-radius: 8px;
    width: 174px;
    height: 48px;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 5px;
}

/* container-popularTour style start */
.container-popularTour{
    width: 80%;
    display: flex;
    margin: auto;
    gap: 53px;
    padding-top: 100px;
}
.popularTour-text{
    width: 50%;
    height: 50%;
}
.popularTour-text h1{
    font-size: 40px;
    color: #131318;
    word-wrap: break-word;
}
.popularTour-text p li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    word-wrap: break-word;
    padding-bottom: 20px;
}

.tour-image img{
    width: 540px;
    height: 550px;
}
.tour-button{
    font-size: 20px;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}
.tour-button >a{
    text-decoration: none;
    color: #FFF;
}
/*Destination style start */
.container-destination{
    align-items: center;
    text-align: center;
    padding-bottom: 44px;
}
.child-container{

}
.row-1, .row-2, .row-3{
    display: flex;
    gap: 24px;
    padding-bottom:24px ;
    justify-content: center;
    position: relative;
}
.text-overlay-1 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.text-overlay-2 {
    position: absolute;
    top: 47%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.text-overlay-3 {
    position: absolute;
    top: 47%;
    left: 23%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.text-overlay-4 {
    position: absolute;
    top: 47%;
    left: 54%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.text-overlay-5 {
    position: absolute;
    top: 47%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.text-overlay-6 {
    position: absolute;
    top: 47%;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.text-overlay-7 {
    position: absolute;
    top: 47%;
    left: 66%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

/* why choice us style start */
.service-all{
    padding-top: 100px;
}
.Service-title{
    text-align: center;
}
.container-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 48px;
}
.Service-row{
    width: 573px;
    height: 284px;
}
.service-row-1{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding:32px 55px 32px 32px;
    border-radius: 16px;
}
.service-row-2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding:32px 55px 32px 32px;
    border-radius: 16px;
}

.service-row-3{
    background: rgba(233, 68, 68, 0.05);
    padding:32px 0 32px 32px;
    margin-top: 30px;
    border-radius: 16px;
}

/* container-place start style */
.container-place{
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 200px;
}
.place-text{
    width: 50%;
}
.place-image{
    width: 50%;
    position: relative;
}
.wath-bd{
    position: absolute;
    bottom: 150px;
    left: 180px;
    color: #FFF;
}

/* container newslater start */
.container-newslater{
    width: 80%;
    display: flex;
    margin: auto;
    gap: 24px;
    padding-top: 100px;
}

.newslater-tittle{
    width: 45%;
    border: 1px solid #FF5400;
    border-radius: 16px;
    padding-left: 20px;

}
.newslater-image{
    width: 55%;
    padding-left: 70px;
    position: relative;
}
.rotate{
    transform: rotate(-18.630deg);
    width: 300px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 430px;
}
.rotate h3{
    font-size: 24px;
}
.rotate h2{
    font-size: 32px;
}

.newslater-button{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;
}
.newslater-button input{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 1px solid rgb(242, 237, 229);
}
.subscribe-button{
    width: 400px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 1px solid rgb(242, 237, 229);
}

/* footer-container style start */
.footer-container{
    width: 100%;
    margin-top: 100px;
    height: 400px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}
.footer-title{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    align-items: center;
}
.footer-title img{
    padding-right: 15px;
    width: 50px;
    height: 50px;
}
.footer-logo{
    display: flex;
    gap: 20px;
    justify-content: center;
    cursor: pointer;
}
.footer-logo img{
    width: 40px;
    height: 40px;
}

/* small And mobile device screen size */
@media screen and (max-width:600px){
    .container-nav {
        flex-direction: column;
    }
    .nav-image h1 {
        font-size: 24px;
    }
    .nav-list{
        gap: 12px;
        padding-right: 50px;
    }

    .banner-title h1 {
        font-size: 22px;
        padding-top: 50px;
    }
    .banner-label{
        flex-direction: column;
        top: 490px;
        height: 262px;
        width: 230px;
    }
    .container-banner{
        margin-top: 50px;
    }
    .container-popularTour{
        flex-direction: column;
        align-items: center;
    }
    .popularTour-text {
        width: 100%;
    }
    .tour-image img {
        width: 100%;
        margin: auto;
        height: 342px;
        padding-right: 62px;
    }
    /* style */
    .child-container{
    }
    .row-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row-3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row-1 img ,.row-2 img , .row-3 img{
        width: 335px;
        height: 176px;
    }
    .text-overlay-1 {
        top: 25%;
        left: 50%;
    }
    .text-overlay-2 {
        top: 73%;
        left: 50%;
    }
    .text-overlay-3 {
        top: 15%;
        left: 50%;
    }
    .text-overlay-4 {
        top: 48%;
        left: 50%;
    }
    .text-overlay-5 {
        top: 82%;
        left: 50%;
    }
    .text-overlay-6 {
        top: 25%;
        left: 50%;
    }
    .text-overlay-7 {
        top: 70%;
        left: 50%;
    }
    .service-all {
        padding-top: 1px;
    }

    .container-services{
        flex-direction: column;
        gap: 175px;
        align-items: center;
    }
    .Service-row{
        width: 335px;
        height: 289px;
    }
    .service-row-3{
        margin-top: 8px;
    }
    .container-place{
        flex-direction: column;
        width: 90%;
    }
    .place-text {
        width: 80%;
    }
    .place-image{
        padding-top: 40px;
    }
    .place-image img{
        width: 335px;
        height: 200px;
    }
    .wath-bd{
        bottom: 31px;
        left: 100px;
    }
    .container-newslater{
        width: 300px;
        flex-direction: column;
        align-items: center;

    }
    .newslater-tittle {
        width: 335px;
    }
    .newslater-button{
        align-items: center;
        padding-right: 26px;
    }
    .newslater-image{
        width: 130%;
        padding-left: 60px;
    }
    .newslater-image img{
        width: 325px;
        height: 300px;
    }
    .newslater-button input , .subscribe-button{
        width: 282px;
        height: 39px;
    }
    .rotate {
        width: 228px;
        height: 69px;
        left: 128px;
    }
    .rotate h3 {
        font-size: 13px;
    }
    .rotate h2 {
        font-size: 16px;
    }
        
}
/* tablate and medium device style */
@media screen and (min-width:600px) and (max-width){
    
}